body{
    padding: 0;
    margin: 0;
}
.nav{
    height: 60px;
    background-color: #1e293b;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    overflow-x: hidden;
}
.Navbar{
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 2rem;
    
}
.logout{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 15px;
    font-weight: 500;
    margin-left: auto;
    padding: 6px 10px;
    border-radius: 6px;
}
.logout:hover{
    color: #f87171;
    background-color: rgba(239,68,68,0.1);
}
.logout .material-icons{
    color: #ef4444;
    font-size: 18px;
    transition: 0.2s;
}
.logout:hover .material-icons{
    transform: translateX(4px);
}
.logout #link{
    text-decoration: none;
    color: #ef4444;
    font-weight: 500;
    font-size: 14px;
    transition: 0.2s;
}
#link:hover{
    color: #f87171;
    text-decoration: underline;
}
.nav-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 10px;
    display: block;
    letter-spacing: 0.3px;
}
.nav-link:hover{
    color: #ffffff;
}
#hamburger{
    display: none;
    font-size: 26px;
    cursor: pointer;
}
@media(max-width : 768px){
    #hamburger {
        display: block;
    }
    .Navbar {
        position: absolute;
        top: 40px;
        left: 0;
        width: 60%;
        background: #1e293ba5;
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-top: none;
        border-left: none;
        border-radius: 15px;
        padding:  4rem 1rem 1rem; ;
        gap: 1rem;
        display: none;
    }
    .Navbar.active{
        display: flex;
    }
    .logout {
        margin-left: 0;
    }
}